<VirtualHost {{ apache_listen.address }}:{{ apache_listen.port.plain }}>
  ServerName {{ item.server_name }}
{% if item.server_alias is defined %}
  ServerAlias {{ item.server_alias }}
{% endif %}
  Redirect "/" "https://{{ item.server_name }}/"
</VirtualHost>

<VirtualHost {{ apache_listen.address }}:{{ apache_listen.port.ssl }}>
  ServerName {{ item.server_name }}
{% if item.server_alias is defined %}
  ServerAlias {{ item.server_alias }}
{% endif %}
  DocumentRoot {{ apache_document.parent }}/{{ item.server_name }}/{{ apache_document.child.html }}
  SSLEngine on
  SSLProtocol all -SSLv2 -SSLv3
  SSLCipherSuite HIGH:3DES:!aNULL:!MD5:!SEED:!IDEA
  SSLCertificateFile {{ apache_ssl_cert_path }}/{{ item.ssl_cert_filename }}.crt
  SSLCertificateKeyFile {{ apache_ssl_cert_key_path }}/{{ item.ssl_cert_filename }}.key
  <Directory {{ apache_document.parent }}/{{ item.server_name }}/{{ apache_document.child.html }}>
    AllowOverride All
    Options +FollowSymLinks
  </Directory>
  ErrorLog {{ apache_document.parent }}/{{ item.server_name }}/{{ apache_document.child.log }}/error.log
  CustomLog {{ apache_document.parent }}/{{ item.server_name }}/{{ apache_document.child.log }}/requests.log combined
</VirtualHost>
