<VirtualHost {{ apache_listen.address }}:{{ apache_listen.port.plain }}>
  ServerName {{ item.servername }}
  Redirect "/" "https://{{ item.servername }}/"
</VirtualHost>

<VirtualHost {{ apache_listen.address }}:{{ apache_listen.port.ssl }}>
  ServerName {{ item.servername }}
  DocumentRoot {{ apache_document.parent }}/{{ item.servername }}/{{ apache_document.child.html }}
  SSLEngine on
  SSLProtocol all -SSLv2 -SSLv3
  SSLCipherSuite HIGH:3DES:!aNULL:!MD5:!SEED:!IDEA
  SSLCertificateFile {{ item.ssl_cert_path }}
  SSLCertificateKeyFile {{ item.ssl_cert_key_path }}
  <Directory {{ apache_document.parent }}/{{ item.servername }}/{{ apache_document.child.html }}>
    AllowOverride All
    Options +FollowSymLinks
  </Directory>
  ErrorLog {{ apache_document.parent }}/{{ item.servername }}/{{ apache_document.child.log }}/error.log
  CustomLog {{ apache_document.parent }}/{{ item.servername }}/{{ apache_document.child.log }}/requests.log combined
</VirtualHost>
