<VirtualHost {{ apache_listen.address }}:{{ apache_listen.port.plain }}>
  ServerName {{ item.server_name }}
{% if item.server_alias is defined %}
  ServerAlias {{ item.server_alias }}
{% endif %}
  DocumentRoot {{ apache_document.parent }}/{{ item.server_name }}/{{ apache_document.child.html }}
  <Directory {{ apache_document.parent }}/{{ item.server_name }}/{{ apache_document.child.html }}>
    AllowOverride All
    Options +FollowSymLinks
  </Directory>
  ErrorLog {{ apache_document.parent }}/{{ item.server_name }}/{{ apache_document.child.log }}/error.log
  CustomLog {{ apache_document.parent }}/{{ item.server_name }}/{{ apache_document.child.log }}/requests.log combined
</VirtualHost>
