<VirtualHost {{ apache_listen.address }}:{{ apache_listen.port.plain }}>
  ServerName {{ item.servername }}
  DocumentRoot {{ apache_document.parent }}/{{ item.servername }}/{{ apache_document.child.html }}
  <Directory {{ apache_document.parent }}/{{ item.servername }}/{{ apache_document.child.html }}>
    AllowOverride All
    Options +FollowSymLinks
  </Directory>
  ErrorLog {{ apache_document.parent }}/{{ item.servername }}/{{ apache_document.child.log }}/error.log
  CustomLog {{ apache_document.parent }}/{{ item.servername }}/{{ apache_document.child.log }}/requests.log combined
</VirtualHost>
